.image_grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 20px;
}

/* .image_grid .image {
  width: 100%;
  min-width: 120px;
  height: 200px;
  object-fit: cover;
  
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  border-radius: 10px;
} */

@media only screen and (max-width: 820px) {
  .image_grid {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
  }
}
